<h1><%= @user.email %></h1>
<h2>Created Events</h2>
    <h3>Upcoming Events</h3>
  <ul>
    <% @user.created_events.upcoming.each do |event| %>
      <li><%= link_to event.name, event %></li>
    <% end %>
  </ul>
  <hr>
  <h3>Past Events</h3>
    <ul>
    <% @user.created_events.past.each do |event| %>
      <li><%= link_to event.name, event %></li>
    <% end %>
  </ul>
<h2>Attended Events</h2>
<h3>Upcoming Events</h3>
<ul>
    <% @user.attended_events.upcoming.each do |event| %>
      <li><%= link_to event.name, event %></li>
    <% end %>
</ul>
    <hr>
<h3>Past Events</h3>
<ul>
    <% @user.attended_events.past.each do |event| %>
      <li><%= link_to event.name, event %></li>
    <% end %>
  </ul>
