<h1><%= @event.name %></h1>
<p><%= @event.event_date %></p>
<p><%= @event.location %></p>
<p><%= @event.description %></p>
<p><%= @event.creator.email %></p>
<p><%= link_to "Events", events_path %></p>
